### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [73]:


# Program to compute the sum of the series: S = 1/1! + 2/2! + 3/3! + ... + n/n!

n = int(input('Enter n: '))  # Take input from user

result = 0
fact = 1  # To hold the factorial value

for i in range(1, n + 1):
    fact = fact * i         # Update factorial
    result = result + i / fact  # Add the term i / i! to result

print("Sum of the series is:", result)

Enter n: 6
Sum of the series is: 2.7166666666666663

# Nested Loops

In [74]:
# Examples -> unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*** <br>
**** <br>
***<br>

In [75]:

rows = int(input('Enter number of rows: '))

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print('*', end='')  # Print stars on the same line
    print()  # Move to the next line after inner loop

Enter number of rows: 5
*
**
***
****
*****

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [76]:
rows = int(input('Enter number of rows: '))

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end='')  # Ascending part: 1 to i
    for k in range(i - 1, 0, -1):
        print(k, end='')  # Descending part: i-1 to 1
    print()

Enter number of rows: 5
1
121
12321
1234321
123454321

# Loop Control Statement

- Break
- Continue
- Pass

In [77]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [78]:
lower = int(input('Enter lower range: '))
upper = int(input('Enter upper range: '))

for i in range(lower, upper + 1):
    for j in range(2, i):
        if i % j == 0:
            break  # Not prime â†’ divisible
    else:
        print(i)  # Executes only if inner loop didn't break

Enter lower range: 5
Enter upper range: 5
5

In [79]:
# Continue
for i in range(1, 10):
    if i == 5:
        continue  # Skip when i is 5
    print(i)

1
2
3
4
6
7
8
9

In [80]:
for i in range(1, 10):
    pass

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [81]:
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [82]:
"it's raining outside"

"it's raining outside"

## Accessing Substrings from a String

In [83]:
# Positive Indexing
s = 'hello world'
print(s[4])

o

In [84]:
# Negative Indexing
s = 'hello world'
print(s[-3])

r

In [85]:
s = 'hello world'

# Slicing syntax: s[start : stop : step]
# - start: index to begin slicing (inclusive)
# - stop: index to end slicing (exclusive)
# - step: how many steps to move each time (can be positive or negative)

# In this example:
# start = 6         -> start at index 6 ('w')
# stop = 0          -> stop before index 0 (index 0 is excluded)
# step = -2         -> move backwards by 2 indices each time

print(s[6:0:-2])

# Rules applied here:
# 1. Because step is negative, slicing moves from higher to lower index.
# 2. The slice includes the start index (6) but excludes the stop index (0).
# 3. Characters are taken at indices: 6, 4, 2 (stop before 0).
# 4. The resulting characters are 'w', 'o', 'l' combined as 'wol'.

wol

In [86]:
s = 'hello world'

# Slicing syntax: s[start : stop : step]
# When both start and stop are omitted, and step is -1:
# - start defaults to the end of the string
# - stop defaults to before the beginning of the string
# - step = -1 means traverse the string backwards, one character at a time

print(s[::-1])  # This prints the entire string in reverse order

dlrow olleh

In [87]:
s = 'hello world'

# s[-1:-6:-1] ka matlab:
# start = -1 -> last character ('d')
# stop = -6  -> stop before index -6 (which is ' ' space)
# step = -1  -> move backward one step at a time

print(s[-1:-6:-1])

dlrow

## Editing and Deleting in Strings

In [88]:
'''

s = 'hello world'
s[0] = 'H'  # Try to change first character

# Python strings are immutable

'''

"\n\ns = 'hello world'\ns[0] = 'H'  # Try to change first character\n\n# Python strings are immutable\n\n"

In [89]:
'''

s = 'hello world'   # Define a string variable s

del s               # Delete the variable s from memory â€” after this, s no longer exists

print(s)            # This will cause an error because s has been deleted
                     # Python raises NameError: name 's' is not defined
'''

"\n\ns = 'hello world'   # Define a string variable s\n\ndel s               # Delete the variable s from memory â€” after this, s no longer exists\n\nprint(s)            # This will cause an error because s has been deleted\n                     # Python raises NameError: name 's' is not defined\n"

In [90]:
'''

s = 'hello world'

# Trying to delete a slice of a string using del
# del s[-1:-5:2] will raise an error because strings are immutable in Python
# You cannot delete or modify parts of a string directly

# This line will cause:
# TypeError: 'str' object doesn't support item deletion
del s[-1:-5:2]

print(s)
'''

"\n\ns = 'hello world'  \n\n# Trying to delete a slice of a string using del\n# del s[-1:-5:2] will raise an error because strings are immutable in Python\n# You cannot delete or modify parts of a string directly\n\n# This line will cause:\n# TypeError: 'str' object doesn't support item deletion\ndel s[-1:-5:2]  \n\nprint(s)\n"

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [91]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [92]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [93]:
print("*"*50)

**************************************************

In [94]:
'delhi' != 'delhi'

False

In [95]:
'mumbai' > 'pune'
# lexiographically

False

In [96]:
'Pune' > 'pune'

False

In [97]:
'hello' and 'world'

'world'

In [98]:
'hello' or 'world'

'hello'

In [99]:
'' and 'world'

''

In [100]:
'' or 'world'

'world'

In [101]:
'hello' or 'world'

'hello'

In [102]:
'hello' and 'world'

'world'

In [103]:
not 'hello'

False

In [104]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [105]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [106]:
'D' in 'delhi'

False

## Common Functions
- len
- max
- min
- sorted

In [107]:
len('hello world')

11

In [108]:
max('hello world')

'w'

In [109]:
min('hello world')

' '

In [110]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Capitalize/Title/Upper/Lower/Swapcase

In [111]:
s = 'hello world'
print(s.capitalize())
print(s)



'''
s = 'hello world'

# .capitalize() method returns a new string
# jisme first character uppercase hota hai
# aur baaki sab lowercase ho jata hai
print(s.capitalize())  # Output: 'Hello world'

# Original string 's' unchanged rahega kyunki strings immutable hote hain
print(s)  # Output: 'hello world'
'''

Hello world
hello world

"\ns = 'hello world'\n\n# .capitalize() method returns a new string\n# jisme first character uppercase hota hai\n# aur baaki sab lowercase ho jata hai\nprint(s.capitalize())  # Output: 'Hello world'\n\n# Original string 's' unchanged rahega kyunki strings immutable hote hain\nprint(s)  # Output: 'hello world'\n"

In [112]:
s = 'hello world'

# The .title() method returns a new string where
# the first letter of each word is capitalized
print(s.title())  # Output: 'Hello World'

# The original string remains unchanged
print(s)          # Output: 'hello world'

Hello World
hello world

In [113]:
s = 'hello world'

# The .upper() method returns a new string
# with all characters converted to uppercase
print(s.upper())  # Output: 'HELLO WORLD'

# The original string remains unchanged because strings are immutable
print(s)          # Output: 'hello world'

HELLO WORLD
hello world

In [114]:
# Original string with mixed uppercase and lowercase letters
s = 'Hello Wolrd'

# .lower() method converts all characters in the string to lowercase
print(s.lower())  # Output: 'hello wolrd'

hello wolrd

In [115]:
s = 'HeLlO WorLD'

# .swapcase() returns a new string where
# uppercase letters become lowercase
# and lowercase letters become uppercase
print(s.swapcase())  # Output: 'hElLo wORld'

hElLo wORld

## Count/Find/Index

In [116]:
s = 'my name is nitish'

# .count(substring) counts how many times substring appears in the string
print(s.count('i'))  # Output: 3

3

In [117]:
s = 'my name is nitish'

# .find(substring) returns the lowest index where substring is found
# If substring not found, returns -1
print(s.find('x'))  # Output: -1, kyunki 'x' string me nahi hai

-1

In [118]:

'''
s = 'my name is nitish'

# .index(substring) bhi substring ki position dhoondhta hai
# Lekin agar substring nahi milega, to .index() ValueError throw karta hai
print(s.index('x'))  # Error: ValueError: substring not found
'''

"\ns = 'my name is nitish'\n\n# .index(substring) bhi substring ki position dhoondhta hai\n# Lekin agar substring nahi milega, to .index() ValueError throw karta hai\nprint(s.index('x'))  # Error: ValueError: substring not found\n"

## endswith/startswith

In [119]:
'my name is nitish'.endswith('sho')

False

In [120]:
'my name is nitish'.startswith('1my')

False

## format

In [121]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

## isalnum/ isalpha/ isdigit/ isidentifier

In [122]:
'nitish1234%'.isalnum()

False

In [123]:
'nitish'.isalpha()

True

In [124]:
'123abc'.isdigit()

False

In [125]:
'first-name'.isidentifier()

False

## Split/Join

In [126]:
s = 'hi my name is nitish'

# .split() method string ko words me todta hai by default whitespace pe
words = s.split()

print(words)  # Output: ['hi', 'my', 'name', 'is', 'nitish']

['hi', 'my', 'name', 'is', 'nitish']

In [127]:
# List of words
words = ['hi', 'my', 'name', 'is', 'nitish']

# " ".join(list) joins list ke elements ko ek single string me
# separator ke roop me yaha space " " use kiya hai
sentence = " ".join(words)

print(sentence)  # Output: 'hi my name is nitish'

hi my name is nitish

## Replace

In [128]:
s = 'hi my name is nitish'

# .replace(old, new) method string me 'old' substring ko
# 'new' substring se replace karta hai, agar 'old' mile to
# Agar 'old' substring string me nahi milta, to original string waisi ki waisi return hoti hai

print(s.replace('nitisrgewrhgh', 'campusx'))

hi my name is nitish

## Strip

In [129]:
s = 'nitish                           '

# .strip() method string ke starting aur ending se
# whitespace (spaces, tabs, newlines) hata deta hai
clean_s = s.strip()

print(f"Before strip: '{s}'")
print(f"After strip: '{clean_s}'")
5

Before strip: 'nitish                           '
After strip: 'nitish'

5

## Example Programs

In [130]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

enter the string5
length of string is 1

In [133]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

enter the emailcontactdilip2001@
contactdilip2001

In [135]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

enter the emailgug
what would like to search forhh
frequency 0

In [136]:
# Write a program which can remove a particular character from a string.
s = input('enter the string')
term = input('what would like to remove')

result = ''

for i in s:
  if i != term:
    result = result + i

print(result)

enter the stringeeeee
what would like to removeeee
eeeee

In [137]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

enter the stringueueue
Not a Palindrome

In [138]:
# Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

enter the string77777
['77777']

In [139]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the string7777
7777

In [140]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

enter the number7
7
<class 'str'>