# 1. Python Output

### Concepts Covered:
- Python is case-sensitive.
- `print()` is used to display output.
- You can print strings, numbers, booleans, etc.
- Use `sep` to define a separator, and `end` to change line breaks.

In [28]:
# Python is a case-sensitive language.
# Always use lowercase 'print' and proper syntax.
print('Hello World')  # Output: Hello World

Hello World

In [29]:
# Printing a simple string using print function
print('salman khan')  # Output: salman khan

salman khan

In [30]:
# Printing a simple string using print function
print('salman khan')  # Output: salman khan

salman khan

In [31]:
# Printing an integer
print(7)  # Output: 7

7

In [32]:
# Printing a float (decimal number)
print(7.7)  # Output: 7.7

7.7

In [33]:
# Printing a boolean value
print(True)  # Output: True

True

In [34]:
# Printing multiple values of different types in one line
print('Hello', 1, 4.5, True)  # Output: Hello 1 4.5 True

Hello 1 4.5 True

In [35]:
# Using a custom separator with 'sep' argument in print()
print('Hello', 1, 4.5, True, sep='/')  # Output: Hello/1/4.5/True

Hello/1/4.5/True

In [36]:
# By default, print() adds a newline after each call
print('hello')
print('world')  # Output:
# hello
# world

hello
world

In [37]:
print('hello', end=' ')
print('world')  # Output: hello world

hello world

# 2. Data Types

In [38]:
# Integer Example
print(8)  # Output: 8 (this is a standard integer)

# Very large number using scientific notation
print(1e309)  # Output: inf (infinity)

8
inf

In [39]:
# Float / Decimal Example
print(8.55)      # Output: 8.55

# Very large float using scientific notation
print(1.7e309)   # Output: inf (infinity)

8.55
inf

In [40]:
# Printing a boolean value
print(True)   # Output: True
print(False)  # Output: False

True
False

In [41]:
# Python is a case-sensitive language.
# Always use lowercase 'print' and proper syntax.
print('Hello World')  # Output: Hello World

Hello World

In [42]:
# Complex Number Example
print(5 + 6j)  # Output: (5+6j)

(5+6j)

In [43]:
# List in Python (similar to Array in C/C++)
print([1, 2, 3, 4, 5])  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [44]:
# Tuple Example
print((1, 2, 3, 4, 5))  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [45]:
# Set Example
print({1, 2, 3, 4, 5})  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [46]:
# Dictionary Example
print({'name': 'Nitish', 'gender': 'Male', 'weight': 70})
# Output: {'name': 'Nitish', 'gender': 'Male', 'weight': 70}

{'name': 'Nitish', 'gender': 'Male', 'weight': 70}

In [47]:
# type
type([1,2,3])

list

# 3. Variables

In [48]:
# Q.1. Static Vs Dynamic Typing

# Python is Dynamic typing
# No need to declare data types
a = 10         # int
a = "Hello"    # now a becomes str
print(a)       # Output: Hello


# // Must declare type during variable definition
# int a = 10;
# a = "Hello";  // ❌ Error: cannot assign string to int

Hello

In [49]:

# Q2.
# Static Vs Dynamic Binding
# Dynamic Binding
a = 10
print(a)

a = "Nitish"
print(a)


# Static Binding
int a = 10;
a = "Nitish"; # // ❌ Error: incompatible type assignment

SyntaxError: invalid syntax (993239817.py, line 12)

In [ ]:
# Q3.
# stylish declaration techniques

# 🔹 Multiple assignments in one line
a, b, c = 1, 2, 3
print(a, b, c)  # Output: 1 2 3

# 🔹 Same value to multiple variables
x = y = z = 100
print(x, y, z)  # Output: 100 100 100

# 🔹 Swapping variables without temp
a, b = b, a

In [ ]:
# Python Example (not C/C++)
# This code shows variable assignment and printing output

# Assigning a string to a variable
name = 'nitish'
print(name)  # Output: nitish

# Assigning integers to variables
a = 5
b = 6

# Performing addition and printing result
print(a + b)  # Output: 11

In [ ]:
# Dynamic Typing in Python
a = 5  # Python automatically understands that 'a' is an integer

# You can reassign 'a' to a different data type later
a = "hello"  # Now 'a' is a string — no error!

In [ ]:
# // Static Typing in C/C++
# int a = 5;  // You must declare the type explicitly
# // a = "hello";  // ❌ Error: can't assign string to an int variable

In [ ]:
# Dynamic Binding in Python
a = 5
print(a)      # Output: 5

a = 'nitish'
print(a)      # Output: nitish

# No error! Python rebinds 'a' from int to str

In [ ]:
# // Static Binding in C/C++
# int a = 5;
# // a = "nitish";  // ❌ Error: can't rebind 'a' to a string in statically typed languages

In [ ]:
# Assigning multiple variables
a = 1
b = 2
c = 3

# Printing multiple values in one line
print(a, b, c)  # Output: 1 2 3

In [ ]:
a,b,c = 1,2,3
print(a,b,c)

In [ ]:
a=b=c= 5
print(a,b,c)

# Comments

In [ ]:
# this is a comment
# second line
a = 4
b = 6 # like this
# second comment
print(a+b)

# 4. Keywords & Identifiers

In [ ]:
# Keywords

In [ ]:
# Identifiers
# You can't start with a digit
name1 = 'Nitish'
print(name1)
# You can use special chars -> _
_ = 'ntiish'
print(_)
# identiers can not be keyword

# Temp Heading

# 5. User Input

In [ ]:
# Static Vs Dynamic
input('Enter Email')

In [ ]:
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
#print(type(fnum),type(snum))
# add the 2 variables
result = fnum + snum
# print the result
print(result)
print(type(fnum))

# 6. Type Conversion

In [ ]:
# 📌 Implicit Type Conversion (Automatic)

print(5 + 5.6)  # Output: 10.6
# Explanation: int (5) is automatically converted to float (5.0) → 5.0 + 5.6 = 10.6

print(type(5), type(5.6))  # Output: <class 'int'> <class 'float'>

# Explicite type coversion 
print(4 + '4')  # ❌ TypeError
# Explanation: int + str is NOT allowed implicitly

In [ ]:
# Mannual Fixing 

# Convert int to string
print(str(4) + '4')  # Output: 44

# OR convert string to int
print(4 + int('4'))  # Output: 8

In [ ]:
# 📌 Explicit Type Conversion (Type Casting)

# ✅ str to int (Only if the string is numeric)
print(int("5"))      # Output: 5

# ❌ Complex to int (Not allowed)
# print(int(4 + 5j))  # ❌ Error: can't convert

# 7. Literals

In [51]:
# 📌 Integer Literals in Different Number Systems

a = 0b1010     # Binary Literal (0b...) → 10 in decimal
b = 100        # Decimal Literal (standard base 10)
c = 0o310      # Octal Literal (0o...) → 3*64 + 1*8 + 0 = 200 in decimal
d = 0x12c      # Hexadecimal Literal (0x...) → 1*256 + 2*16 + 12 = 300 in decimal

print(a, b, c, d)  # Output: 10 100 200 300


# 📌 Float Literals

float_1 = 10.5         # Standard float
float_2 = 1.5e2        # Scientific notation → 1.5 × 10^2 = 150.0
float_3 = 1.5e-3       # Scientific notation → 1.5 × 10^-3 = 0.0015

print(float_1, float_2, float_3)  # Output: 10.5 150.0 0.0015


# 📌 Complex Number Literal

x = 3.14j              # Complex number with only imaginary part
print(x)               # Output: 3.14j
print(x.imag)          # Output: 3.14 (imaginary part)
print(x.real)          # Output: 0.0  (real part)

10 100 200 300
10.5 150.0 0.0015
3.14j
3.14
0.0

In [ ]:
# Complex Number
x = 3.14j  # Only imaginary part is defined

# Accessing the imaginary part using .imag
print(x.imag)  # Output: 3.14

3.14

In [ ]:
# 📌 Different Types of Strings in Python

# Standard string with single quotes
string = 'This is Python'

# Standard string with double quotes
strings = "This is Python"

# Single character string
char = "C"

# Multiline string using triple double-quotes (also works with triple single-quotes)
multiline_str = """This is a multiline string
with more than one line of code."""

# Unicode string (emojis using Unicode code points)
unicode = u"\U0001f600\U0001F606\U0001F923"  # 😀😆🤣

# Raw string - escap

In [52]:
# 📌 Boolean values in arithmetic

a = True + 4    # True is treated as 1 → 1 + 4 = 5
b = False + 10  # False is treated as 0 → 0 + 10 = 10

print("a:", a)  # Output: a: 5
print("b:", b)  # Output: b: 10

a: 5
b: 10

In [53]:
# 📌 None in Python

k = None  # 'None' is used to represent 'nothing' or 'no value'

# Other variable assignments
a = 5
b = 6

print('Program exe')  # Output: Program exe

Program exe